doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/css/style.css")
    link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")

  body
    //- img(src="../images/000.jpg", alt="")
    //- h1= message

    //- h1 Noi dung the h1 
    //- p noi dung the P 
    //- img

    //- ul
    //-   li Item 1
    //-   li Item 2
    //-   li Item 3

    //- table 
    //-   thead   
    //-     tr 
    //-       th STT 
    //-       th Ho Ten 
    //-       th SDT
    //-   tbody 
    //-     tr 
    //-       td 1
    //-       td Le Van A 
    //-       td 123123123
    //-     tr 
    //-       td 2
    //-       td Le Van V
    //-       td 12300000

    //- p Nội dung the p! 
    //- p Noi dung <b> thẻ P </b>
    //- p Noi dung <i> thẻ P </i>
    //- p Noi dung <b><i> thẻ P </i></b>
    //- p 
    //-   |Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
    //-   |Totam amet sapiente dolorum culpa sunt quia in, possimus vero, 
    //-   |expedita deleniti animi, provident odio nemo nam est quibusdam corrupti nihil at!
    //- p. 
    //-   Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nisi incidunt voluptatem quae non enim sint, provident optio fuga dolores quam. Eveniet, numquam. 
    //-   Porro ipsa, earum dolores corporis optio consequatur magni.

    

    //- Button
    //- button(class = "btn btn-success") Click me !
    //- button.btn.btn-success#button-test Click me 1
    //- button(class = "btn btn-success" , id = "button-test") Click Me 2

    //-Bien
    //- - var name = 'phu dep trai';
    //- - var phone = '0337928102';
    //- - var age = 18;

    //- div(class='info')
    //-   p= name 
    //-   p= phone
    //-   p= age 
    
    //- div(class='info')
    //-   p #{name}
    //-   p #{phone}
    //-   p #{age}

    //- div(class='info')
    //-   p HoTen : #{name}
    //-   p DienThoai : #{phone}
    //-   p Tuoi : #{age}

    //- - var htmlLink = "<a href='https://daca.vn/'>Daca.vn</a>"

    //- div(class='link')
    //-   p= htmlLink
    //- div(class='link')
    //-   p #{htmlLink}
    //- div(class='link')
    //-   p !{htmlLink}

    //- conditional
    //- - 
    //-   var infoUser = {
    //-     name : "Dinh Quang Phu",
    //-     phone : "123123123",
    //-     age : 12
    //-   };
    //- div(class='info')
    //-   p Email: #{infoUser.name}
    //-   if infoUser.name == "Dinh Quang Phu"
    //-     p Email #{infoUser.phone}


    //- Switch case
    //- - statusAcc: "initial" , "active" , "inactive"
    //- - var statusAcc = "initial";

    //- case statusAcc
    //-   when "initial"
    //-     p Cho Duyet
    //-   when "active"
    //-     p Dang hoat dong
    //-   when "inactive"
    //-     p Dang bi xoa
    //-   default 
    //-     p khong co

    //- Loop
    //- - 
    //-   var listUser = [
    //-     "Le Van A" ,
    //-     "Nguyen THi B",
    //-     "Le THi C"
    //-   ];

    //- ul 
    //-   each item , index in listUser 
    //-     li #{index + 1}. #{item}
    //-   - for(let i = 0 ; i < 10 ; i++)
    //-     li #{i} 
    

    hearder hearder 

    h1 Trang Chu 

    footer  Footer

    script(src="/js/script.js")
    script(src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js")  